{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Your Profile</h2>

    <form method="post" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}

        <div class="form-fields">
            <!-- Username -->
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}

            <!-- Bio -->
            <label for="{{ form.bio.id_for_label }}">Bio:</label>
            {{ form.bio }}

            <!-- Avatar Upload -->
            <label for="{{ form.avatar.id_for_label }}">Upload Avatar:</label>
            <input type="file" name="avatar" id="{{ form.avatar.id_for_label }}">
        </div>

        <div class="profile-buttons">
            <button type="submit" class="custom-btn">Update</button>
            {% if user.is_authenticated and not user.led_teams.exists %}
                <a href="{% url 'team-leader-request' %}" class="custom-btn-outline">Стани Team Leader</a>
            {% endif %}
        </div>
    </form>

    {% if user.userprofile.avatar %}
        <div class="profile-avatar">
            <img src="{{ user.userprofile.avatar.url }}" alt="Avatar">
        </div>
    {% endif %}
</div>
{% endblock %}
