{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="register-container">
    <h2>Create an Account</h2>

    <form method="post" class="register-form">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.email.label_tag }}
            {{ form.email }}

            {{ form.password1.label_tag }}
            {{ form.password1 }}

            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>

        <button type="submit" class="custom-btn">Register</button>
    </form>
</div>
{% endblock %}
